# Arithmetic Functions
- Shuffle, Unique, Resize, Flatten, Ravel

In [1]:
import numpy as np

- shuffle

In [2]:
var1 = np.array([1,2,3,4,5])
np.random.shuffle(var1)
print(var1)

[5 1 4 3 2]

- unique

In [3]:
var2 = np.array([3,2,3,5,7,8,9,1,2,47,5,6,2,21,4])
x=np.unique(var2)
print(var2)

[ 3  2  3  5  7  8  9  1  2 47  5  6  2 21  4]

In [5]:
# returning index of unique elements 
y=np.unique(var2, return_index=True)
print(y)

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 21, 47]), array([ 7,  1,  0, 14,  3, 11,  4,  5,  6, 13,  9], dtype=int64))

In [6]:
# returning count of elements
z = np.unique(var2, return_counts=True)
print(z)

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 21, 47]), array([1, 3, 2, 1, 2, 1, 1, 1, 1, 1, 1], dtype=int64))

- Resize

In [7]:
var3 = np.array([1,2,3,4,5,6])
var4 = np.resize(var3,(2,3))
print(var4)

[[1 2 3]
 [4 5 6]]

- Flatten (it converts 2D array to 1D array)
- Some points to remember
- Order: {'C','F','A','K'}, optional
- 'C' means to flatten in row-major (C-style) order.
- 'F' means to flatten in column-major (Fortran-style) order.
- 'A' means to flatten in column-major order if `a` is Fortran *contiguous* in memory, row-major order otherwise.
- 'K' means to flatten `a` in the order the elements occur in memory.
- The default is 'C'.

In [9]:
# converting 2D array to 1D array
print(var4)
print()
print(var4.flatten())

[[1 2 3]
 [4 5 6]]

[1 2 3 4 5 6]

In [10]:
print(var4.flatten(order="F"))

[1 4 2 5 3 6]

In [11]:
print(var4.flatten(order='A'))

[1 2 3 4 5 6]

In [12]:
print(var4.flatten(order='K'))

[1 2 3 4 5 6]

- Ravel
-  ravel() functions returns contiguous flattened array(1D array with all the input-array elements and with the same type as it). A copy is made only if needed

In [14]:
var5 = np.array([[1,2],[3,4],[5,6]])
print(np.ravel(var5, order='F'))

[1 3 5 2 4 6]